.layout {
  margin: auto;
  min-height: 1400px;
}

.wrapper {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 0 16px;
}

.nav {
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 56px;
  border-bottom: 1px solid var(--c-border);
  _background: rgba(253, 254, 255, .8);

  &._shadow {
    border-color: transparent;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 3px rgba(0,0,0,.2);
  }

  /* transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1); */

  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-between;
    padding: inherit 0;
    height: 100%;

    .logo {
      font-size: 20px;
      display: inline-flex;
      align-items: bottom;
      padding-right: 16px;
      flex: 1;

      .subHeader {
        color: var(--c-gray);
        padding-left: 8px;
        margin-left: 8px;
        font-weight: normal;
        border-left: 1px solid var(--c-border);
        _font-size: 80%;
      }
    }

    /* step progress */
  }
}

.stepProgress {
  _margin-top: 32px;
  display: flex;
  align-items: stretch;
  border-radius: 8px;
  overflow: auto;
  height: 100%;
  _border: 1px solid var(--c-border);
  _background: var(--c-bg);

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  & > div {
    height: 100%;
    display: inline-flex;
    align-items: center;
    _background: var(--c-bg);
    clip-path: polygon(
      0 0,
      calc(100% - 10px) 0%,
      100% 50%,
      calc(100% - 10px) 100%,
      0 100%,
      10px 50%
    );

    &.active {
      background: var(--c-theme-tint-10);
      color: var(--c-theme);
    }

    &:first-child {
      clip-path: polygon(
        0 0,
        calc(100% - 10px) 0%,
        100% 50%,
        calc(100% - 10px) 100%,
        0 100%
      );
    }

    &:last-child {
      clip-path: polygon(0 0, 100% 0%, 100% 50%, 100% 100%, 0 100%, 10px 50%);
    }

    &:not(:first-child) {
      margin-left: -8px;
    }

    label {
      padding-left: 24px;
      padding-right: 20px;
    }
  }
}

.pageActions {
  height: 80px;
  display: flex;
  align-items: center;

  .backButton {
    _margin: 6px 0;
    margin-right: 16px;
  }
}
