.passengerDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  border: 1px solid var(--c-border);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.05);
  _margin-top: 32px;

  & > * {
    _width: 40%;
    margin: 0;
    min-width: calc(33.06% - 8px);
  }
}
