.searchResult {
  border: 1px solid var(--c-border);
  padding: 16px;
  border-radius: 8px;
  _background: var(--c-bg-tp);
  _backdrop-filter: var(--backdrop-filter);
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.05);
  background: var(--c-bg);

  .options {
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    background: transparent;
    justify-content: flex-start;
    width: 100%;
    padding: 8px 0;
    background: var(--c-bg);

    label {
      font-size: initial;
      padding: 8px 16px;
      border-radius: 32px;
      background: var(--c-hover);
      border: 1px solid var(--c-border);
    }
  }

  table {
    border: 0;
    margin: 0;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;

    tr {
      margin: 0;
      padding: 0;
      _cursor: pointer;

      .tdActions {
        text-align: right;
        _width: 120px;
      }

      & .selectButton {
        filter: grayscale(100%);
        opacity: .3;
      }

      &:hover {
        background: var(--c-hover);

        & .selectButton {
          filter: none;
          opacity: 1;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--c-border);
      }

      span {
        display: block;
        font-size: 14px;
        padding-top: 4px;
        opacity: .6;
      }

      /* box-shadow:
        4px 4px 0px 0px var(--c-theme) inset,
        -4px -4px 0px 0px var(--c-theme) inset; */

    }

    thead {
      /* position: sticky; top: 104px;
      background: var(--c-bg);
      z-index: 1; */

      tr {
        border-bottom: 1px solid var(--c-border);

        &:hover {
          background: none;
        }
      }
    }

    td, th {
      margin: 0;
      padding: 12px 8px;
    }

    th {
      font-weight: 500;
      text-align: left;
    }

    .arrow {
      _text-align: center;
    }
  }

}

@media screen and (min-width: 1024px) {
  .searchResult {
    .options {
      margin-bottom: 16px;
      position: sticky; top: 56px;
    }
  }
}
